{% extends "position/base.html" %}

{% block javascript %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    // https://developers.google.com/chart/interactive/docs/gallery/annotationchart
    google.load("visualization", "1");
    google.setOnLoadCallback(function() {
        var wrap = new google.visualization.ChartWrapper({
           'chartType':'Timeline',
           'dataSourceUrl':'/api/location/datatable/',
           'containerId':'chart_div',
           //'query':'SELECT A,D WHERE D > 100 ORDER BY D',
           'options': {
               timeline: { colorByRowLabel: true }
           }
           });
         wrap.draw();
    });
</script>
{% endblock %}

{% block content %}
<div id="chart_div" style="width:800; height:400">Loading...</div>
<div id='duration'></div>
{% endblock %}
